DATABASE_URL="postgresql://postgres.PROJECT_REF:PASSWORD@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true&sslmode=require"

DIRECT_URL="postgresql://postgres.PROJECT_REF:PASSWORD@db.PROJECT_REF.supabase.co:5432/postgres?sslmode=require"

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="random-secret-panjang"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

BLOB_READ_WRITE_TOKEN="vercel_blob_rw_..."
FONNTE_TOKEN="your-fonnte-token"
UPLOAD_DIR="public/uploads"